# Hidden directories
.vscode/
.cache/
.vs/

# Docs!
docs/

# Build directory
build/

# initramfs directory
initramfs/

# Hidden by default files
*.swp
*.suo
*.tmp
*.dmp
*.DS_Store
*.db

# Compressed files
*.tar.gz
*.tar.xz
*.tar.bz2
*.tar
*.tgz
*.txz
*.rar
*.zip
*.7z

# Archives and binaries
*.iso
*.elf
*.out

# Libraries and other compiler leftovers
*.s
*.a
*.so
initramfs.*

# Very specific files
compile_commands.json
hello